<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Differential Equations task</title>
</head>
<body>

<center><h1> Difference between numerical methods </h1></center>

<form action = "/result" method = "POST">

         <left><h2> Enter values: </h2></left>
         <p>Initial x <input type = "text" name = "x_initial" /></p>
         <p>Initial y <input type = "text" name = "y_initial" /></p>
         <p>Start point <input type = "text" name = "diapazone_start" /></p>
         <p>End point <input type ="text" name = "diapazone_end" /></p>
         <p> Step <input type ="text" name = "h" /></p>

         <p><input type = "submit" value = "Build the graphs!" /></p>
      </form>
{{a}}

</body>
</html>